.issue-item {
    border: 1px solid var(--border);
    border-radius: 12px;
    margin-bottom: 12px;
    text-align: left;
    cursor: pointer;
    background-color: var(--bg);
    transition: all 0.2s ease;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.issue-item:hover {
    border-color: var(--accent);
    background-color: var(--accent-bg);
}

.issue-item.selected {
    border: 2px solid var(--accent);
    background-color: var(--accent-bg);
    padding: 15px 19px;
}

.issue-item-left {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    overflow: hidden;
}

.issue-card-icon {
    color: var(--border);
    transition: color 0.2s ease;
    flex-shrink: 0;
}

.issue-item:hover .issue-card-icon,
.issue-item.selected .issue-card-icon {
    color: var(--accent);
}

.issue-item-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.issue-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
    margin: 0;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.issue-meta-row {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 8px;
    overflow: hidden;
}

.issue-meta {
    margin: 0;
    font-size: 13px;
    color: var(--text);
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.issue-line {
    margin: 0;
    font-size: 12px;
    font-weight: 800;
    color: var(--accent);
    background-color: #ffd0c0;
    /* Un fondo sutil para que resalte más como un "tag" */
    padding: 0px 6px;
    border-radius: 6px;
    flex-shrink: 0;
}

.issue-item.selected .issue-line {
    background-color: var(--bg);
    border: 1px solid var(--accent);
    /* Se ajusta si la tarjeta está seleccionada */
}