.repository-card {
    border: 1px solid #A0A9AB;
    border-radius: 8px;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    margin-right: 1vw;
    text-align: left;
    cursor: pointer;
    background-color: var(--accent-bg);
}

.repository-card h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--text);
    margin-left: 1.8vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.selected {
    border: 3px solid var(--accent);
    background-color: #fff3ef;
}